@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.hero {
  margin-top:3rem;
  min-height: min(70vh,700px);
  display: flex;
  align-items:center;
  flex-direction: column;

  &__content {
    @include m.container;
    max-width: 720px;
  }

  img{
    width: 150px;
  }

  h1 {
    font-size: v.$fs-xl;
    font-weight: 700;
    margin-bottom: 0.5rem;

    span {
      color: var(--accent);
    }
  }

  h2 {
    font-size: v.$fs-lg;
    font-weight: 500;
    color: var(--text-secondary);
    margin-bottom: 1.2rem;
  }

  p {
    font-size: v.$fs-md;
    color: var(--text-secondary);
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }
}

/* Buttons */
.btn {
  padding: 0.65rem 1.4rem;
  border-radius: v.$border-radius;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);

  &.primary {
    background: var(--accent);
    color: #fff;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &.secondary {
    border: 1px solid var(--accent);
    color: var(--accent);

    &:hover {
      background: var(--accent-soft);
    }
  }
}
